#account-container{
  position:relative;
}
#account-container #create-button{
  position:absolute;
  bottom:0px;
  right:0px;
}
#account-container .address{
  text-align:center;
}

#search-client #client-grid{
  width:920px;
  min-height:600px;
}

#accounts .activate,
#accounts .add-new-account .name{
	color:#63799B;
  text-decoration: underline;
}