#login{
	width:290px;
	margin:100px auto;
	border:1px solid #CCC;
	padding:5px;
}
#login input{
	width:200px;
}

#login .username{
	margin-bottom:5px;
}

#login .label{
	width:80px;
}

#login .login-header{
	border-bottom:1px solid #CCC;
	margin-bottom:20px;
}

#login .buttons{
	margin-top:20px;
	float:right;
}
