#user-switcher #user-grid{
  width:920px;
  min-height:600px;
}

#user-switcher .enabled-cell{
	text-align:center;
}

#user-add .enabled,
#user-edit .enabled{
	width:14px;
}
#user-add .cancel-button{
  display:none;
}